<GridLayout rows="75 * 50" sdkExampleTitle sdkToggleNavButton>
  <GridLayout row="0" rows="*" columns="80 *" class="form">
    <Button class="btn btn-primary btn-active" row="0" col="0" text="go" (tap)="goBack()"></Button>
    <TextField #urlField row="0" col="1" hint="Enter URL" [text]="webViewSrc" returnKeyType="done" (returnPress)="submit(urlField.text)"
               autocorrect="false" verticalAlignment="center" class="input input-border m-t-0" autocapitalizationType="none"></TextField>
  </GridLayout>
  <WebView row="1" #myWebView [src]="webViewSrc"></WebView>
  <Label row="2" #labelResult></Label>
</GridLayout>
