<ActionBar title="{{ project.name }}">
  <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>

<StackLayout orientation="vertical" class="m-10">
  <Label text="issues open: {{ issuesService.issuesOpen }}"></Label>
  <Label text="issues in progress: {{ issuesService.issuesInProgress }}"></Label>
  <Label text="issues closed: {{ issuesService.issuesClosed }}"></Label>

  <RadPieChart height="200" allowAnimation="true">
    <PieSeries tkPieSeries
               selectionMode="DataPoint"
               [items]="pieSource"
               valueProperty="value"
               legendLabel="title"></PieSeries>

    <RadLegendView tkPieLegend
                   position="Right"
                   width="110"
                   offsetOrigin="TopRight"
                   enableSelection="true"></RadLegendView>
  </RadPieChart>
</StackLayout>
<!--expandRadius="0.4"-->
<!--outerRadiusFactor="0.7"-->

<!--offsetOrigin="TopRight"-->
