<!--<ActionBar title="User profile" class="action-bar">-->
<!--</ActionBar>-->

<FlexboxLayout flexDirection="column" height="100%">
  <Label text="Profile" style="margin: 20 20 5"></Label>

  <RadListView [items]="listData" itemReorder="true" reorderMode="Drag" flexGrow="1">
    <ng-template let-item="item">
      <FlexboxLayout flexDirection="row">
        <Label [text]="item" flexGrow="1" style="margin:5 10"></Label>

        <ReorderHandle verticalAlignment="center" style="margin: 5 10">
          <Label text="[=]" style="color:#ccc"></Label>
        </ReorderHandle>
      </FlexboxLayout>
    </ng-template>
  </RadListView>
</FlexboxLayout>
