<ScrollView class="page-scroll">
  <FlexboxLayout class="page-flex">
    <StackLayout class="logview">
      <Label text="Log"></Label>
      <logview></logview>
    </StackLayout>
    <PreviousNextView class="form">
      <StackLayout>
        <StackLayout class="input-field">
          <TextField class="input" hint="Username" autocorrect="false" autocapitalizationType="none" [(ngModel)]="username"></TextField>
          <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <StackLayout class="input-field">
          <TextField class="input" hint="Password" autocorrect="false" secure="true" [(ngModel)]="password"></TextField>
          <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <Label *ngIf="error" class="field-error" [text]="error"></Label>

        <Button text="Sign in" class="btn btn-primary" (tap)="onSubmit()"></Button>
      </StackLayout>
    </PreviousNextView>
  </FlexboxLayout>
</ScrollView>
