.page-scroll {
  height: 100%;
}
.page-flex {
  align-items: center;
  flex-direction: column;
}
.logview {
  flex-grow: 5;
  min-height: 300;
  max-height: 700;
}
.form {
  margin: 50 30 120;
  flex-grow: 1;
  vertical-align: middle;
}
.field-error {
  color: red;
  margin: 15px 0;
}
