<StackLayout *ngIf="!projectsService.isInitialized()" class="m-10">
  <Label text="Loading..."></Label>
</StackLayout>

<ListView [items]="projectsService.projects" (itemTap)="onProjectSelected($event)" class="list-group">
  <ng-template let-project="item">
    <FlexboxLayout class="list-group-item" flexDirection="row">
      <Image [src]="project.avatarUrls['32x32']" stretch="none" width="16" height="16" style="width:16; height:16;"></Image>
      <Label [text]="project.name" class="m-l-5" flexGrow="1"></Label>
    </FlexboxLayout>
  </ng-template>
</ListView>
