<ActionBar [title]="actionBarTitle" class="action-bar">
  <ActionItem *ngIf="isAndroid" text="Name: {{ profileService.name }}" ios.position="right" android.position="popup"></ActionItem>
  <ActionItem *ngIf="isAndroid" text="Email: {{ profileService.email || '[no email]' }}" ios.position="right" android.position="popup"></ActionItem>
  <ActionItem text="Logout" (tap)="onLogout()" ios.position="right" android.position="popup"></ActionItem>
</ActionBar>

<TabView (selectedIndexChange)="onIndexChanged($event)">
  <StackLayout *tabItem="{title: 'Profile', iconSource: getIconSource('home')}">
    <page-profile></page-profile>
  </StackLayout>

  <StackLayout *tabItem="{title: 'Projects', iconSource: getIconSource('browse')}">
    <page-projects></page-projects>
  </StackLayout>

  <StackLayout *tabItem="{title: 'WebView', iconSource: getIconSource('search')}">
    <page-webview></page-webview>
  </StackLayout>
</TabView>
